version: "3.8"
services:
  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  arroyo:
    image: ghcr.io/arroyosystems/arroyo:latest
    container_name: arroyo
    depends_on:
      - kafka
      - postgres
      - localstack
    ports:
      - "5115:5115"
    volumes:
      - ./src/arroyo/fraud_pipeline.sql:/pipelines/fraud_pipeline.sql
      - ./arroyo.toml:/etc/arroyo/arroyo.toml
    environment:
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_REGION=us-west-2

  postgres:
    image: postgres:15
    container_name: arroyo-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: arroyo
      POSTGRES_USER: arroyo
      POSTGRES_PASSWORD: arroyo
    volumes:
      - snowflake-data:/var/lib/snowflake
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "arroyo"]
      interval: 10s
      timeout: 5s
      retries: 5


  snowflake:
    image: localstack/snowflake:latest
    container_name: arroyo-snowflake
    extra_hosts:
      - "snowflake.localhost.localstack.cloud:127.0.0.1"
    ports:
      - "127.0.0.1:4567:4566"
      - "127.0.0.1:4510-4559:4510-4559"
      - "127.0.0.1:443:443"
    environment:
      - LOCALSTACK_AUTH_TOKEN=${LOCALSTACK_AUTH_TOKEN}
      - DEBUG=1
      - LS_LOG=trace
      - SNOWFLAKE_USE_HTTP=true
      - SNOWFLAKE_INSECURE_MODE=true
      - SNOWFLAKE_RSA_PUBLIC_KEY=${SNOWFLAKE_RSA_PUBLIC_KEY}
      - SNOWFLAKE_RSA_PRIVATE_KEY=${SNOWFLAKE_RSA_PRIVATE_KEY}
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - snowflake-data:/var/lib/snowflake

  localstack:
    image: localstack/localstack
    container_name: arroyo-aws
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,lambda
      - DEFAULT_REGION=us-west-2
    volumes:
      - ./scripts/init-aws.sh:/etc/localstack/init/ready.d/init-aws.sh

volumes:
  postgres-data:
  snowflake-data:
